@import "tailwindcss";

@font-face {
  font-family: "Angkor";
  src: url("./assets/fonts/Angkor-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Asset";
  src: url("./assets/fonts/Asset-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Danfo";
  src: url("./assets/fonts/Danfo-Regular-VariableFont_ELSH.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gloock";
  src: url("./assets/fonts/Gloock-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Notable";
  src: url("./assets/fonts/Notable-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RockSalt";
  src: url("./assets/fonts/RockSalt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sedgwick";
  src: url("./assets/fonts/Sedgwick-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sedgwick: "Sedgwick", cursive;
  --font-angkor: "Angkor", sans-serif;
  --font-gloock: "Gloock", serif;
  --font-danfo: "Danfo", sans-serif;
  --font-notable: "Notable", sans-serif;
  --font-rocksalt: "RockSalt", cursive;
  --font-asset: "Asset", sans-serif;
  --font-intertight: "InterTight", sans-serif;
  --font-intertight-italic: "InterTight-Italic", sans-serif;
  --font-space-mono: "Space Mono", monospace;
  --font-share-tech-mono: "ShareTechMono", monospace;
}

@font-face {
  font-family: "InterTight";
  src: url("./assets/fonts/InterTight-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "InterTight";
  src: url("./assets/fonts/InterTight-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("./assets/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("./assets/fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("./assets/fonts/SpaceMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Space Mono";
  src: url("./assets/fonts/SpaceMono-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ShareTechMono";
  src: url("./assets/fonts/ShareTechMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
}
